<!DOCTYPE html>
<html lang="en">
<head>

</head>

<body>
<!-- Fixed navbar -->

<div class="container theme-showcase" role="main">
  <div class="jumbotron">
<h1>Welcome!</h1>

	<% if not current_organization and not current_student %>
		<h2>I am a(n):</h2>
		<div class="row">
	      	<div class="col-sm-4">
	      	<p><%= button_to "Student", new_student_registration_path, :class => "btn btn-lg btn-default", :method => :get %></p>
	      	<p><%= button_to "Organization", new_organization_registration_path, :class => "btn btn-lg btn-default", :method => :get %></p>
          <p><%= button_to "Group Leader", new_leader_registration_path, :class => "btn btn-lg btn-default", :method => :get %></p>
	      	</div><!-- /.col-sm-4 -->
	      </div>
	<% end %> 	
	<% if current_student or current_organization or current_leader %>
		<h2>All Events:</h2>
		<% @events.each do |f| %>
      <h3><%= f.title + " | " + f.organization %></h3>
		<% end %>
	<% end %>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="js/bootstrap.min.js"></script>
  </div>
</div>

</body>
